* {
    box-sizing: border-box;
    margin: 0;
}

p {
	font-size : 28px;
}
img{
	height:370px;
	width:370px;
	
}
.img2{
	height:100px;
	width:100px;
	
}
.img3{
	height:100px;
	width:150px;
	
}
.grid__container {
    display: grid;
grid-template-columns: auto auto auto;
  background-color: #4B0082;
  gap: 20px;
  padding:10px;
}

.grid__container__item {
    background-color: #FFFFFF;
    color: #454301;
    height: 370px;
	width:370px;
    box-shadow: 0px 30px 80px rgba(168, 233, 37, 0.102);
}

.grid2__container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
	background-color: #4B0082;
}

.grid__container__first-cell {
    background-color: #FFFFFF;
    justify-self: start;
}

.grid__container__second-cell {
    background-color: #FFFFFF;
    justify-self: center;
}

.grid__container__third-cell {
    background-color: #FFFFFF;
    justify-self: end;
}

.grid3__container {
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 30px;
	font-size:30px;
	text-align:center;
	line-height:100px;
}

.grid3__container div {
    background-color: #6495ED;

}

.grid3_change {
    background-color: #8B008B !important;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.grid4__container {
    display: grid;
	margin-top: 20px;
	justify-content: center;
    grid-auto-flow: column;
	column-gap: 10px;
	text-align:center;
}

.grid5__container {
display: inline-grid; 
grid: auto / repeat(4, 100px);  
align-content: end;
width: 1200px;
height: 300px;
margin-top: 20px;
font-size:20px;
border: 1px solid rgb(0, 0, 0);
}
.grid5__container div {
	height: 100px;
	text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

.grid6__container {
display: grid;
grid: auto / repeat(4, 200px);
width: 1200px;
height: 300px;
margin-top: 20px;
border: 1px solid rgb(0, 0, 0);
place-items: start;
font-size:20px;
	
}
.grid6__container div {
	height: 50px;
	text-align:center;
	border: 1px solid rgb(0, 0, 0);
}
body {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "head head"
        "main  aside"
        "footer  footer";
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(50px, auto);
}

header {
    grid-area: head;
    background-color: #224466;
	text-align:center;
}

main {
    grid-area: main;
    padding-bottom: 10px;
    padding-right: 10px;
}

footer {
    grid-area: footer;
    background-color: #224466;
    bottom: 0;
	text-align:center;
    
}
aside {
    grid-area: aside;
    background-color: #ccd3cd;
}
