body{
	background-color:#4B0082;
}

* {
    box-sizing: border-box;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
   
    margin: 10px;
}

.item {
    background-color: #FF69B4;
    padding: 10px;
    margin: 10px;

}

.flex-item-1 {
    flex-basis: 50px;
    flex-shrink: 1; 
}

.flex-item-2 {
    flex-basis: 100px;
    flex-shrink: 2;
}

.flex-item-3 {
    flex-basis: 200px;
    flex-shrink: 3;
}
.flex-item-4 {
    flex-basis: 200px;
    flex-shrink: 4;
}
@media (max-width: 750px){
    main{
        flex-direction: column;
        align-content: flex-start;
    }
    .flex-item-1,.flex-item-2,.flex-item-3,.flex-item-4{
        flex-basis: auto;
    }
}
.container_self{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container_flex{
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    flex-flow: row-reverse wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.item-change{
    order: -1;
    background-color: #FF0000;
}